*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build
/build
/captures
/tun2socks/build/
.externalNativeBuild
.cxx
local.properties
app/src/headless/assets
/.knownPackages
/*.patch
/build-tools
/emulator
/licenses
/patcher
/platform-tools
/platforms
/tools
/.kotlin/sessions
app/google-services.json
/app/release
app/fdroidFull/release
app/playFull/release
app/websiteFull/release
