<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.celzero.bravedns">

    <permission
        android:name="com.celzero.bravedns.CONTROL_VPN"
        android:protectionLevel="normal" />

    <application android:name=".RethinkDnsApplication">
        <provider
            android:name=".provider.ApplicationProvider"
            android:authorities="com.celzero.bravedns.appprovider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.celzero.bravedns.CONTROL_VPN" />
        <provider
            android:name=".provider.BlocklistProvider"
            android:authorities="com.celzero.bravedns.blocklistprovider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.celzero.bravedns.CONTROL_VPN" />
        <provider
            android:name=".provider.DomainRuleProvider"
            android:authorities="com.celzero.bravedns.domainrulesprovider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.celzero.bravedns.CONTROL_VPN" />

        <receiver
            android:name=".receiver.BraveStartReceiver"
            android:exported="true"
            android:permission="com.celzero.bravedns.CONTROL_VPN">
            <intent-filter>
                <action android:name="com.celzero.bravedns.intent.action.START_VPN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
