<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission android:name="com.celzero.bravedns.contentprovider.READ_WRITE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- https://developer.android.com/about/versions/13/behavior-changes-all#notification-permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Allows applications to change network connectivity state -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Android 11 introduces changes related to package visibility. These changes affect
    apps only if they target Android 11.
    https://developer.android.com/training/package-visibility -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- Allows the app to perform actions across different users on the device. -->
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        android:protectionLevel="signature" />

    <application
        android:name=".RethinkDnsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeInitial">
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name=".ui.FirewallActivity"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name=".ui.HomeScreenActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.rbk" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DnsDetailActivity"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:finishOnTaskLaunch="true"
            android:noHistory="true" />
        <activity
            android:name=".ui.AppInfoActivity"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name=".ui.PauseActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.DnsListActivity"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name=".ui.CustomIpActivity"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name=".ui.ConfigureRethinkBasicActivity"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name=".ui.AppDetailActivity"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name=".ui.NotificationHandlerDialog"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/AppThemeDialog" />

        <receiver
            android:name=".receiver.BraveAutoStartReceiver"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotificationActionReceiver"
            android:label="@string/app_name" />

        <service
            android:name=".util.BackgroundAccessibilityService"
            android:exported="true"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".service.BraveVPNService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.BraveTileService"
            android:exported="true"
            android:icon="@drawable/shield_green"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.celzero.bravedns.provider;com.celzero.bravedns.backup.BackupAgent"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>
</manifest>
