<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--<uses-permission android:name="com.android.vending.BILLING" />-->
    <application
        tools:replace="android:name"
        android:name=".RethinkDnsApplicationPlay">
        <!-- Enable Firebase Crashlytics collection for play build -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
    </application>

</manifest>
