name: Kt Static Analyser

on:
  push:
    branches: [ main ]

 jobs:
   detekt:
     runs-on: ubuntu-latest

     steps:
       - name: "checkout"
         uses: actions/checkout@v3

       - name: "detekt"
         uses: natiginfo/action-detekt-all@1.23.4
